.subscribe-button {
    background-color: rgb(225, 0, 0);
    color: white;
    border: none;
    height: 35px;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.15s;
    vertical-align: top;


}

.subscribe-button:hover {
    opacity: 0.8;


}

.subscribe-button:active {
    opacity: 0.5;

}

.join-button {

    background-color: white;
    color: rgb(41, 118, 211);
    border-color: rgb(0, 172, 238);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s,
        color 0.3s,
        opacity 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: top;

}

.join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.join-button:active {
    opacity: 0.5;

}

.tweet-button {
    height: 36px;
    width: 74px;
    background-color: rgb(2, 137, 255);
    color: white;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    vertical-align: top;

}
